
{% for evaluation in latest_evaluations %}
<div class="list-element">

        <p>
            <b>{{ evaluation.score }}</b>/5 - <b><a href="{{ evaluation.wine.get_absolute_url }}">{{ evaluation.wine }}</a></b>
        </p>

        <p class="evaluation-user">By <b> {{ evaluation.user }} </b> on <i> {{ evaluation.date }} </i></p>
        <hr>
        <p> {{ evaluation.description|truncatechars:48 }} </p>
        <br>
</div>
    {% empty %}
        <p>There are no evaluations in the DB yet.</p>
{% endfor %}