

{% for wine in trending_wines %}
            <div class="list-element">
                {% if wine.picture %}
                    <div class="wine-bottle-image">
                        <img src="{{ wine.picture.url }}">
                        {% show_attribution wine %}
                    </div>
                {% else %}

                    <div class="wine-bottle-image">
                        <img src="/media/images/wines/No wine image.png">
                    </div>
                {% endif %}
                <div class="wine-contents">


                    <p>
                        <i>{{ wine.producer }}</i>
                    </p>
                    <p>
                        <b><a href="{{ wine.get_absolute_url }}">{{ wine.name }}</a></b>
                    </p>
                    <br/>


                    <p>Score:</p>
                    {% if wine.get_avg_score %}
                        {{ wine.get_avg_score.score__avg|floatformat:1 }}
                    {% else %}
                        No ratings yet.
                    {% endif %}

                    <div class="rank-contents">


                        <p class="rank"><img src="/media/icons/rank.png"/>Rank</p>
                        <div class="rank-separator"></div>
                        {% if wine.pageviews > 0 %}

                            <p><span class="rank-nr">Nº {{ wine.trending_rank }}

                        </span> Trending</p>

                        {% else %}

                            <p>Not ranked</p>

                        {% endif %}
                    </div>
                </div>
                <div class="darker-background"></div>
            </div>
        {% empty %}
            <p>There are no trending wines in the DB yet.</p>
        {% endfor %}