{% extends "base.html" %}
{% block content %}


<div class="banner-trending">
    <img src="/media/images/wines/big/7.jpg" />
    <h1 class="trending-message">
        <span>
            <strong>Trending portuguese wines</strong>
            <br/>
            All over the world
        </span>
    </h1>
</div>

<p>hello world</p>
<p>o chicambi cheira mal</p>

<h1>Evaluations:</h1>

{% for evaluation in evaluations.all %}
    <p><b> {{ evaluation.user }} </b> <i> {{ evaluation.date }} </i></p>
    <p><i> {{ evaluation.wine }} </i></p>
    <p> {{ evaluation.score }} </p>
    <p> {{ evaluation.description }} </p>
    <br>
{% empty %}
    <p>There are no evaluations in the DB yet.</p>

{% endfor %}

{% endblock %}