{% extends "base.html" %}
{% block content %}
{% load wine_tags %}

<div class="banner-trending">
    <img src="/media/images/wines/big/7.jpg" />
    <h1 class="trending-message">
        <span>
            <strong>Trending portuguese wines</strong>
            <br/>
            All over the world
        </span>
    </h1>
    <div>
        Photo by 
        <a class="author" href="author_url"></a>
         from 
         <a class="link-name" href="picture_url"></a>
    </div>
</div>

{% show_latest_evaluations %}

{% endblock %}