{% extends "base.html" %}
{% block content %}
    {% load wine_tags %}

    <h1 class="title">All Wines Listed</h1>


    <div class="list-container">

        {% for wine in wines %}
            <div class="list-element">
                {% if wine.picture %}
                    <div class="wine-bottle-image">
                        <img src="{{ wine.picture.url }}">
                        </img>
                        {% show_attribution wine %}
                    </div>
                {% else %}

                    <div class="wine-bottle-image">
                        <img src="/media/images/wines/vinho-test-08.png">
                        </img>
                        {% show_attribution wine %}
                    </div>
                    <!-- <p class="not-found">No image found</p> -->
                {% endif %}
                <div class="wine-contents">


                    <p>
                        <i>{{ wine.producer|title }}</i>
                    </p>
                    <p>
                        <b><a href="{{ wine.get_absolute_url }}">{{ wine.name|title }}</a></b>
                    </p>
                    <p>{{ wine.description }}</p>
                    <br/>


                    <p>Score:</p>
                    {% if wine.get_avg_score %}
                        {{ wine.get_avg_score.score__avg }}
                    {% else %}
                        No ratings yet.
                    {% endif %}

                    <div class="rank-contents">


                        <p class="rank"><img src="/media/icons/rank.png"/>Rank</p>
                        <div class="rank-separator"></div>
                        {% if wine.pageviews > 0 %}

                            <p><span class="rank-nr">Nº {{ wine.trending_rank }}

                        </span> Trending</p>

                        {% else %}

                            <p>Not ranked</p>

                        {% endif %}
                    </div>
                </div>
                <div class="darker-background"></div>
            </div>
        {% empty %}
            <p>
                There are no wines in the DB yet.
            </p>
        {% endfor %}
    </div>
    <div class="container">
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <p class="next">
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </p>
            {% endif %}
        </span>
        </div>

    </div>

        <p class="visitas">Lista visitada {{ request.session.visitas_wine_list }} vezes</p>
    <hr/>
{% endblock %}